@import "tailwindcss";

:root {
  --background: #1a1b1a;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-ubuntu: var(--font-ubuntu);
  --font-michroma: var(--font-michroma);
  --color-background-secondary: #36393e;
  --color-dark-green: #004243;
  --color-darkest-green: #0D1F21;
  --color-light-green: #74A173;
  --color-background-light: #FAF6E9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1b1a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:  var(--font-ubuntu), Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Hide default cursor globally */
* {
  cursor: none !important;
}

/* Ensure all interactive elements also hide cursor */
a, button, input, textarea, select, [role="button"], [tabindex] {
  cursor: none !important;
}
